* {
  box-sizing: border-box;
}
body {
  font-family: "Cookie", cursive;
  color: #fffff0;
  overflow: hidden;
  background-image: url("assets/bg.jpg");
  margin: 0;
  height: 100vh;
  max-height: 100vh;

  animation-name: bg-position;
  animation-duration: 40s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@media screen and (min-width: 991px) {
  body {
    animation-duration: 20s;
  }
  
  #app {
    margin-top: 5em;
  }
}

@media screen and (min-width: 1200px) {
  body {
    animation-duration: 10s;
  }
}

@keyframes bg-position {
  from {
    background-position-x: -20%;
  }
  to {
    background-position-x: 20%;
  }
}

h1 {
  text-align: center;
}

.glide__slide h2 {
  font-size: 2.5em;
}
.glide__slide .phase-name {
  font-size: 1.5em;
}

#slider {
  text-align: center;
}

.phase-image-container {
  margin: 2em 0;
  height: 35vh;
}
